/* Noto-Sans-JP*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');

html{
    font-family: 'Not Sans JP', sans-serif;   
}

body{
    background-color: #111;
}

#setting-screen
{
    position: absolute;
    width: 33.3%;
    height: 100%;
    top:0;
    right:0;
    background-color: #555;
    z-index: 300;
    display: none;
}
#setting-screen .setting-item
{
    position: relative;
    width: 100%;
    /* height: 10%; */
    background-color: #0F0;
    color: #FFF;
    font-size: 3em;
    text-align: center;
    line-height: 10vh;
    cursor: pointer;
    z-index: 400;
    margin-top : 1%;
}

#title
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: #FFF;
    z-index: 200;
    color:#000;
    text-align: center;
    font-size: 10em;

}

#countdown{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: #000;
    z-index: 100;
    color:#FFF;
    text-align: center;
    font-size: 32em;

    /* display: none; */
}


#red-point{
    position: absolute;
    width: 50%;
    height: 40%;
    left: 0;
    top:0;
    background-color: red;
    text-align: center;
    color: #FFF;
    font-size:15em;
}

#blue-point{
    position: absolute;
    width: 50%;
    height: 40%;
    right: 0;
    top:0;
    background-color: blue;
    text-align: center;
    color: #FFF;
    font-size:15em;
}

#red-name{
    position: absolute;
    width: 50%;
    height:10%;
    left: 0;
    top:40%;
    background-color: #000;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}

#blue-name{
    position: absolute;
    width: 50%;
    height:10%;
    right: 0;
    top:40%;
    background-color: #000;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}

#timer{
    position: absolute;
    color:#FFF;
    font-size: 15em;
    top: 50%;
    left:0;
    width: 100%;
    height: 50%;
    text-align: center;
}